students/firstname_lastname/examples/03_citygen/procedural-city-js/
examples/03_citygen/procedural-city-js/
# students/noor_alfahim
template/node template/node_modules
echo node_modules
echo .DS_Store
template/node template/node_modules

node_modules/
# node_modules
# template/ABDEL./index.html
# template/ABDEL./style.css
# template/ABDEL./week_01.html
# template/ABDEL./weeks/01/index.html
template/ABDEL./index.html
template/ABDEL./weeks/01/index.html
template/ABDEL./week_01.html
template/ABDEL./style.css
template/ABDEL./index.html
